raspberry_nodered/Flows/list_Nodes.json
[{"id":"c6972a9a04ac9408","type":"tab","label":"list_nodes","disabled":false,"info":"","env":[]},{"id":"c4860a68bba09953","type":"mqtt in","z":"c6972a9a04ac9408","name":"","topic":"espnow/mesh/nodes/#","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":160,"y":140,"wires":[["0c4f9b96751573d9"]]},{"id":"0c4f9b96751573d9","type":"function","z":"c6972a9a04ac9408","name":"","func":"let array = msg.topic.split(\"/\")\nlet message = {\n    \"title\": \"<b>\" + array[3] + \"</b>\",\n    \"description\": \"The node status is: \" + msg.payload\n}\nreturn message","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":140,"wires":[["4bd3b7d28b5d62fa"]]},{"id":"1b10d2f12f614617","type":"function","z":"c6972a9a04ac9408","name":"","func":"let listNodes = flow.get(\"listNodes\")\nlistNodes.push(msg)\nlet message = {\n    topic: \"\",\n    payload: listNodes\n}\nflow.set(\"listNodes\", listNodes)\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["36c6d76cd0f2b778"]]},{"id":"0ea0ca1d1ea087e5","type":"inject","z":"c6972a9a04ac9408","name":"Init list of nodes","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"listNodes\":[]}","payloadType":"json","x":180,"y":300,"wires":[["b89589e273f94584"]]},{"id":"b89589e273f94584","type":"change","z":"c6972a9a04ac9408","name":"","rules":[{"t":"set","p":"listNodes","pt":"flow","to":"payload.listNodes","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":410,"y":300,"wires":[[]]},{"id":"4bd3b7d28b5d62fa","type":"switch","z":"c6972a9a04ac9408","name":"","property":"listNodes.length","propertyType":"flow","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":140,"wires":[["1b10d2f12f614617"],["69a53c0dbaf0b885"]]},{"id":"69a53c0dbaf0b885","type":"function","z":"c6972a9a04ac9408","name":"","func":"let listNodes = flow.get(\"listNodes\")\nlet findNode = listNodes.find(node => node.title === msg.title)\nlet position = 0\nif(!findNode) {\n    listNodes.push(msg)\n} else if(findNode.description !== msg.description) {\n    position = listNodes.findIndex(data => data.title === msg.title)\n    listNodes[position] = msg\n}\n\n\nflow.set(\"listNodes\", listNodes)\nlet message = {\n    topic: \"\",\n    payload: listNodes,\n    pos: position\n}\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":180,"wires":[["36c6d76cd0f2b778"]]},{"id":"36c6d76cd0f2b778","type":"ui_list","z":"c6972a9a04ac9408","group":"4e1c7013f73bd170","name":"","order":1,"width":"6","height":"4","lineType":"two","actionType":"none","allowHTML":true,"outputs":0,"topic":"","x":890,"y":140,"wires":[]},{"id":"199e55aac4276fa2","type":"comment","z":"c6972a9a04ac9408","name":"Connect to MQTT broker","info":"","x":170,"y":80,"wires":[]},{"id":"16dc96c2f20247ef","type":"comment","z":"c6972a9a04ac9408","name":"Starts the node list","info":"","x":170,"y":240,"wires":[]},{"id":"9c0f83f15965b6f3","type":"comment","z":"c6972a9a04ac9408","name":"Check if the list is empty","info":"","x":490,"y":80,"wires":[]},{"id":"9427bc41bda753af","type":"comment","z":"c6972a9a04ac9408","name":"Updates the node list","info":"","x":760,"y":240,"wires":[]},{"id":"92241cdf106d809f","type":"comment","z":"c6972a9a04ac9408","name":"Adds the first item to the list","info":"","x":780,"y":40,"wires":[]},{"id":"e9a3f062279a14fc","type":"mqtt-broker","name":"","broker":"192.168.35.124","port":"8883","tls":"ab12858fd86bf47a","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"4e1c7013f73bd170","type":"ui_group","name":"node panel","tab":"333e9b85af6be00f","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"ab12858fd86bf47a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"my-ca.crt","servername":"","verifyservercert":false,"alpnprotocol":""},{"id":"333e9b85af6be00f","type":"ui_tab","name":"List of nodes","icon":"dashboard","disabled":false,"hidden":false}]