raspberry_nodered/Flows/read_BLE.json
[{"id":"e9e931fee5b9c3ea","type":"tab","label":"read ble - mqtt","disabled":false,"info":"","env":[]},{"id":"b9d104cce62d87de","type":"Generic BLE in","z":"e9e931fee5b9c3ea","name":"","genericBle":"7bb1d87e805917fc","useString":false,"notification":true,"x":330,"y":220,"wires":[["873af38aed950a9b"]]},{"id":"5e8b2a4ebac36525","type":"inject","z":"e9e931fee5b9c3ea","name":"notify","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"notify\":true,\"period\":0}","payloadType":"json","x":110,"y":140,"wires":[["b9d104cce62d87de"]]},{"id":"dc9d8532b3a48748","type":"inject","z":"e9e931fee5b9c3ea","name":"connect","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","payload":"","payloadType":"date","x":110,"y":300,"wires":[["b9d104cce62d87de"]]},{"id":"533d68ece58a2f54","type":"inject","z":"e9e931fee5b9c3ea","name":"read","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":110,"y":220,"wires":[["b9d104cce62d87de"]]},{"id":"5681b51e333a4d93","type":"function","z":"e9e931fee5b9c3ea","name":"","func":"let arrayData= msg.payload.message\nlet topic = \"espnow/mesh/room\" + arrayData[0] + \"/sensor\"\nlet message = {\"topic\": topic,\"payload\": {\n    \"id\":arrayData[0],\n    \"intruder\":arrayData[1],\n    \"sensTemp\":arrayData[2],\n    \"sensHum\":arrayData[3]\n}}\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":160,"wires":[["d05271180d5df833","413050e45c562bac"]]},{"id":"bd6f8d1e40a5242a","type":"mqtt out","z":"e9e931fee5b9c3ea","name":"nodes - keep A live","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e9a3f062279a14fc","x":1230,"y":280,"wires":[]},{"id":"50a8e4bef9759300","type":"function","z":"e9e931fee5b9c3ea","name":"","func":"let arrayMessage = msg.payload.message\nlet topic = 'espnow/mesh/nodes/node'+ arrayMessage[0]\nmsg.topic = topic\nmsg.payload = arrayMessage[1]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":280,"wires":[["bd6f8d1e40a5242a"]]},{"id":"ae4d38b823bcefaf","type":"switch","z":"e9e931fee5b9c3ea","name":"","property":"payload.lenghtArray","propertyType":"msg","rules":[{"t":"gt","v":"2","vt":"num"},{"t":"eq","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":690,"y":220,"wires":[["5681b51e333a4d93"],["50a8e4bef9759300"]]},{"id":"d05271180d5df833","type":"mqtt out","z":"e9e931fee5b9c3ea","name":"sensor - topics","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"e9a3f062279a14fc","x":1220,"y":160,"wires":[]},{"id":"873af38aed950a9b","type":"function","z":"e9e931fee5b9c3ea","name":"","func":"let buffer = msg.payload.characteristics.ea12ce72e2f644c5ac3f51fb791a7c99\nlet arrayData = buffer.toString().split(',');\nlet message = {\"topic\":\"\",\"payload\": {\n    \"lenghtArray\": arrayData.length,\n    \"message\": arrayData,\n}}\nreturn message;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":220,"wires":[["ae4d38b823bcefaf"]]},{"id":"413050e45c562bac","type":"function","z":"e9e931fee5b9c3ea","name":"","func":"let topic = \"espnow/mesh/nodes/node\" + msg.payload.id\nmsg.topic = topic\nmsg.payload = \"ON\"\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":220,"wires":[["bd6f8d1e40a5242a"]]},{"id":"f785925013e3f8d9","type":"comment","z":"e9e931fee5b9c3ea","name":"Connect to BLE server","info":"","x":140,"y":360,"wires":[]},{"id":"84dab8b4e844204e","type":"comment","z":"e9e931fee5b9c3ea","name":"Enable notifications","info":"","x":130,"y":80,"wires":[]},{"id":"902316c2c41b0d72","type":"comment","z":"e9e931fee5b9c3ea","name":"Converts the received buffer to string","info":"","x":540,"y":160,"wires":[]},{"id":"443a1a85a17772f1","type":"comment","z":"e9e931fee5b9c3ea","name":"Encapsulates messages","info":"","x":890,"y":100,"wires":[]},{"id":"0e6fbf84a03d0164","type":"comment","z":"e9e931fee5b9c3ea","name":"Connect to MQTT broker","info":"","x":1250,"y":100,"wires":[]},{"id":"7bb1d87e805917fc","type":"Generic BLE","localName":"BME280_ESP32","address":"ac:67:b2:3d:3a:46","uuid":"ac67b23d3a46","characteristics":[]},{"id":"e9a3f062279a14fc","type":"mqtt-broker","name":"","broker":"192.168.35.124","port":"8883","tls":"ab12858fd86bf47a","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"ab12858fd86bf47a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"my-ca.crt","servername":"","verifyservercert":false,"alpnprotocol":""}]