raspberry_nodered/Flows/write_BLE.json
[{"id":"0a49c1bd481ac3c9","type":"tab","label":"write ble - qtt","disabled":false,"info":"","env":[]},{"id":"1d7b21d9339a3f19","type":"mqtt in","z":"0a49c1bd481ac3c9","name":"","topic":"espnow/mesh/room1/led1","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":140,"wires":[["0ebb3aec0227cc60"]]},{"id":"0ebb3aec0227cc60","type":"function","z":"0a49c1bd481ac3c9","name":"","func":"msg.payload = {\"89844d3be63d479eaf2c1f97e6fc5651\": Buffer.from(msg.payload, \"utf-8\")};\nmsg.topic = \"\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":300,"wires":[["27b07402b67e9a3c"]]},{"id":"27b07402b67e9a3c","type":"Generic BLE out","z":"0a49c1bd481ac3c9","name":"","genericBle":"7bb1d87e805917fc","x":670,"y":340,"wires":[]},{"id":"9da0e73421ed2dea","type":"inject","z":"0a49c1bd481ac3c9","name":"connect BLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"connect","payload":"","payloadType":"date","x":430,"y":360,"wires":[["27b07402b67e9a3c"]]},{"id":"f2234f8e6e480ba6","type":"inject","z":"0a49c1bd481ac3c9","name":"disconnect BLE","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"disconnect","payload":"","payloadType":"date","x":420,"y":440,"wires":[["27b07402b67e9a3c"]]},{"id":"30fc98c7ef8965b0","type":"mqtt in","z":"0a49c1bd481ac3c9","name":"","topic":"espnow/mesh/room2/led1","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":220,"wires":[["0ebb3aec0227cc60"]]},{"id":"96f59b2bab83b7b9","type":"mqtt in","z":"0a49c1bd481ac3c9","name":"","topic":"espnow/mesh/room3/led1","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":300,"wires":[["0ebb3aec0227cc60"]]},{"id":"fcf8a9458f95805c","type":"mqtt in","z":"0a49c1bd481ac3c9","name":"","topic":"espnow/mesh/room4/led1","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":380,"wires":[["0ebb3aec0227cc60"]]},{"id":"cd04b2f28588c92c","type":"mqtt in","z":"0a49c1bd481ac3c9","name":"","topic":"espnow/mesh/room5/led1","qos":"2","datatype":"auto","broker":"e9a3f062279a14fc","nl":false,"rap":true,"rh":0,"inputs":0,"x":150,"y":440,"wires":[["0ebb3aec0227cc60"]]},{"id":"aab981713360648b","type":"comment","z":"0a49c1bd481ac3c9","name":"Convert string data to buffer","info":"","x":460,"y":240,"wires":[]},{"id":"b289c3b30bb4c974","type":"comment","z":"0a49c1bd481ac3c9","name":"Connect to MQTT broker","info":"","x":150,"y":80,"wires":[]},{"id":"e9a3f062279a14fc","type":"mqtt-broker","name":"","broker":"192.168.35.124","port":"8883","tls":"ab12858fd86bf47a","clientid":"","autoConnect":true,"usetls":true,"protocolVersion":"3","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"7bb1d87e805917fc","type":"Generic BLE","localName":"BME280_ESP32","address":"ac:67:b2:3d:3a:46","uuid":"ac67b23d3a46","characteristics":[]},{"id":"ab12858fd86bf47a","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"client.crt","keyname":"client.key","caname":"my-ca.crt","servername":"","verifyservercert":false,"alpnprotocol":""}]